apiVersion: v1
kind: Service
metadata:
  name: playground-Service
  namespace: dev
spec:
  selector:
    app: playground
  ports:
    - protocol: TCP
      port: 8888
      targetPort: 80
      nodePort: 30080
  type: NodePort